<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">hibernate</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hikari.dataSourceClassName">com.mysql.cj.jdbc.MysqlDataSource</property>
		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://localhost:3306/logs?useSSL=false&amp;serverTimezone=UTC</property>
		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://localhost:3306/logs?useSSL=false&amp;serverTimezone=UTC</property>
		<property name="hibernate.hikari.dataSource.user">hibernate</property>
		<property name="hibernate.hikari.dataSource.password">password</property>
		<property name="hibernate.hikari.maximumPoolSize">2</property>
		<property name="hibernate.hikari.minimumIdle">1</property>
		<property name="hibernate.hikari.idleTimeout">300000</property>
		<property name="hibernate.hikari.maxLifetime">1800000</property>
		<mapping class="dledwith.logs.entity.User" />
		<mapping class="dledwith.logs.entity.Logbook" />
		<mapping class="dledwith.logs.entity.Log" />
	</session-factory>
</hibernate-configuration>
