<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>



		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/logs?useSSL=false&amp;serverTimezone=UTC
		</property>
		<property name="hibernate.connection.username">hibernate</property>
		<property name="hibernate.connection.password">password</property>

		<!-- Show SQL -->
		<property name="hibernate.show_sql">true</property>

		<!-- Auto-schema update -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- HikariCP as production-grade pool -->
		<property name="hibernate.connection.provider_class">
			org.hibernate.hikaricp.internal.HikariCPConnectionProvider
		</property>
		<property name="hibernate.hikari.dataSourceClassName">
			com.mysql.cj.jdbc.MysqlDataSource
		</property>
		<property name="hibernate.hikari.dataSource.url">
			jdbc:mysql://localhost:3306/logs?useSSL=false&amp;serverTimezone=UTC
		</property>
		<property name="hibernate.hikari.dataSource.user">hibernate</property>
		<property name="hibernate.hikari.dataSource.password">password</property>
		<property name="hibernate.hikari.maximumPoolSize">10</property>
		<property name="hibernate.hikari.minimumIdle">2</property>
		<property name="hibernate.hikari.idleTimeout">300000</property>
		<property name="hibernate.hikari.maxLifetime">600000</property>

		<!-- Your entities -->
		<mapping class="dledwith.logs.User" />
		<mapping class="dledwith.logs.Logbook" />
		<mapping class="dledwith.logs.Log" />

	</session-factory>
</hibernate-configuration>
